{% extends "inc/base.html" %}

{% block content %}

        <div class="first-text mt-2">
            <h1 class="mt-5">New question</h1>
            <a class="mt-5" href="question/1">Hot question</a>
        </div>
    </ul>
        <div class="container">
  <div class="row">
    <div class="col-md-8">
      <form>
    {% for object in objects %}
        {% include "inc/question_item.html" %}
    {% endfor %}
      </form>
        {% include "inc/pagination.html" %}
    </div>

{% endblock content %}
