{% extends "inc/base.html" %}

{% block content %}
    <div class="first-text mt-2">
        <h1 class="mt-5" style="margin-bottom: 100px;">Settings: Higgers</h1>
        <!-- <a class="mt-5">Hot question</a> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <!-- Поле для изменения имени -->
                    {{ form.nickname.label_tag }}
                    {{ form.nickname }}
                    {{ form.nickname.errors }}

                    <!-- Поле для изменения пароля -->
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {{ form.password.errors }}

                    <!-- Поле для изменения фотографии -->
                    {{ form.photo.label_tag }}
                    {{ form.photo }}
                    {{ form.photo.errors }}

                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
